html {
  scroll-behavior: smooth;
}
body {
  /* background-image: url("../3.jpg"); */
  background-image: linear-gradient(to bottom right, #f5c0c0, #f4d160, #f2b4b4);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}
/* blocks common to all */
.block-area {
  align-items: center;
  margin: 5%;
  padding: 5% !important;
  overflow: hidden;
  position: relative;
  width: 98%;
  height: 50%;
  background-color: rgba(71, 3, 23, 0.7) !important;
  color: #cccccc;
}
/* navbar */
.navbar.bg-light {
  background-color: rgba(73, 3, 24, 0.8) !important;
}
.nav-link {
  color: #fcd7be !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  margin: 0 20px !important;
}
.navbar-nav {
  margin-left: 40vw !important;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  color: #fcd7be !important;
  font-weight: 900;
}
/* buttons main */
.main-buttons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2px !important;
}
.main-btn {
  background-size: 200% 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;

  font-size: 30px;
  font-weight: 900;
  width: 20%;
  margin: 2%;
  background-image: linear-gradient(to right, #f59f30, #f1be16, #470317cc);
  box-shadow: 0 4px 3px 0 #552404;
  color: #fff !important;
  padding: 5px 2px;
  height: 60px;
  border-radius: 6px;
  border: none;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main-btn:hover {
  font-size: 31px;
  padding: 5px 20px;
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: scale(1.05);
}

.main-btn:focus {
  outline: none;
}
.btn-link {
  text-decoration: none;
  color: #fff !important;
}

.btn-link:hover {
  text-decoration: none !important;
  color: #fff;
}
/* carousel */
.carousel {
  width: 90vw !important;
  height: auto !important;
  margin-left: 7vw;
}
.carousel-inner {
  position: relative;
  width: 80% !important;
  overflow: hidden;
}
.carousel-control-next {
  margin-right: 10vw !important;
}

/* footer section */
.footer-section {
  padding: 0px;
  width: 96%;
  overflow: hidden;
  position: relative;
  margin-right: 2vw !important;
  margin-left: 2vw;
  margin-bottom: 4vh !important;
}
.icon-footer {
  color: #fff6a9;
}
.icon-footer :hover {
  color: chocolate !important;
}
.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 20px 0 0;
}

.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #38b9e0;
}

.center {
  margin-left: 50px;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .list {
    margin: 10px;
  }

  .logo {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
  }

  .list-links {
    font-size: 4vw;
    font-weight: 300;

    padding: 20px 20px;
    text-decoration: none;
  }

  .main-content .box {
    flex-basis: 50%;
    padding: 4px 8px;
  }

  .box h2 {
    font-size: 0.8rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  .box .content {
    margin: 3px 3px 0 0;
  }

  .left .content p {
    text-align: justify;
    font-size: 8px;
  }
  .left .content .social {
    margin: 4px 0 0 0;
  }

  .left .content .social a {
    padding: 0 2px;
  }

  .left .content .social a span {
    height: 30px;
    width: 30px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
    transition: 0.3s;
  }

  .left .content .social a span:hover {
    background: #38b9e0;
  }
}
