doctype html
html
    head
        title Natours | #{title}
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700', rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        script(src='https://js.stripe.com/v3/')
        meta(charset='UTF-8')
        meta( name='viewport' content='width=device-width, initial-scale=1.0')

    
    body
      //HEADER
      include _header
      
      //BODY
      block content
       
        
        
        

      //FOOTER  
      include _footer


      script(src='/js/bundle.js')

    //-   script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js')
    //-   script(src='/js/login.js')

      

